*{
    margin: 0;
    padding: 0;
}
.container{
    box-sizing: border-box;
    width: 1520px;
    margin: auto;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
ul li a{
    text-decoration: none;
    font-size: 20px;    
}
ul li a:hover{
    /* text-decoration: underline; */
    color: rgb(156, 13, 13);
}
.bosuutap img{
    padding-left: 34px;
}
.caogot img{
    padding-left: 12px;
}
.Sneaker img{
    padding-left: 12px;
}
.debet img{
    padding-left: 8px;
}
/* ul li a img{
    padding-left: 20px;
} */
/* end menu */

/* start sanphambanchay */
.sanphambanchay{
    text-align: center;
    height: 900px;
}
.sanphambanchay-title{
    text-align: center;
    padding-bottom: 50px;
}
.sanphambanchay-product{
    width: 90%;
    margin-left: 80px;
}
.sanphambanchay-product-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 20px;
}
.sanphambanchay-product-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 100px;
}
/* end sanphambanchay */
.banner2{
    text-align: center;
    margin-bottom: 100px;
}
.banner2 img{
    width: 80%;
}

/* start sanphammoive */
.sanphammoive{
    text-align: center;
    height: 900px;
}
.sanphammoive-title{
    text-align: center;
    padding-bottom: 50px;
}
.sanphammoive-product{
    width: 90%;
    margin-left: 80px;
}
.sanphammoive-product-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 20px;
}
.sanphammoive-product-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 100px;
}
/* end sanphammoive */

/* tin moi nhất start */
.tintucmoinhat-title{
    text-align: center;
    padding-bottom: 50px;
    font-size: 20px;
}
.tintucmoinhat{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}
.tintucmoinhat-right-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.tintucmoinhat-right-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.tintucmoinhat-content-right{
    font-size: 10px;
}
.tintucmoinhat-left{
    border: 1px solid rgb(227, 213, 213);
    margin-left: 120px;
    padding: 20px 0 20px 70px;
    border-radius: 10px;
}
.tintucmoinhat-right{
    border: 1px solid rgb(227, 213, 213);
    margin-right: 120px;
    padding: 20px ;
    border-radius: 10px;

}
.tintucmoinhat-img img{
    width: 90%;
}
/*  tin moi nhất end */
.line{
    background-color: rgb(178, 153, 153);
    height: 3px;
    width: 15%;
    margin:10px 0 10px 0;
}
/* thuonghieunoitieng start */
.thuonghieunoitieng{
    margin-top: 100px;
}
.thuonghieunoitieng-title{
    text-align: center;
    padding-bottom: 50px;
    font-size: 20px;
}
.thuonghieunoitieng-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 100px;
}
.thuonghieunoitieng-img img{
    width: 100px;
    border: 1px solid rgb(247, 232, 232);
    padding: 0 70px;
}
/* thuonghieunoitieng end */

/* footer section starts */
#footer {
    font-family: BalloExtra;
    height: auto;
    padding-bottom: 40px;
    background-image: linear-gradient(
        rgba(224, 219, 219, 0.86),
        rgba(139, 134, 134, 0.86)
      ),
      url("./img/anh2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 2rem;
  }
  #footer,
  .footer-left,
  .footer-right {
    display: flex;
  }
  
  .footer-left,
  .footer-right {
    margin-top: 3rem;
  }
  
  .footer-left {
    padding-left: 12%;
    align-items: center;
    width: 65%;
  }
  .footer-right {
    margin-top: 3.5rem;
    gap: 3rem;
    padding-right: 12%;
    width: 35%;
  }
  
  #footer h3 {
    font-family: BalooExtra;
    text-align: start;
    color: var(--yellow-color);
  }
  
  #footer p,
  #footer a {
    font-family: Barlow;
    color: #ffff;
    text-align: start;
  }
  #footer a {
    text-decoration: none;
    display: block;
    line-height: 1.8rem;
  }
  .footer-left .footer-logo {
    width: 45%;
    margin-right: 2.3rem;
  }
  
  .footer-logo img {
    width: 100%;
    object-fit: cover;
  }
  #footer i {
    color: var(--yellow-color);
  }
  
  #footer .card_1 {
    width: 70%;
  }
  
  .card_1 {
    width: 70%;
    margin: 0;
  }
  
  .card_1 div {
    display: flex;
    align-items: center;
  }
  
  .card_1 div p,
  .card_1 p {
    font-size: 0.9rem;
    margin-left: 0.3rem;
    line-height: 2rem;
    display: block;
    text-align: start;
  }
  
  .icons i {
    font-size: 1.5rem;
    margin-left: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1.4rem;
    cursor: pointer;
  }
  
  #footer .images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  #footer .image {
    width: 8rem;
    height: 2.5rem;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.2rem;
  }
  .image_3 {
    height: 3rem !important;
    width: 10rem;
    margin-top: 0.5rem;
  }
  /* footer section ends */

  /* sản phẩm css */
  .content{
    border: 1px solid rgb(195, 189, 189);
    border-radius: 6px;
    height: 360px;
  }
  .content img{
    padding-top: 10px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .sub p{
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .content-button button{
    background-color: rgb(89, 96, 96);
    color: aliceblue;
    width: 140px;
    height: 30px;
    border-radius: 10px;
    margin-top: 16px;
  }
  .content img{
    transition: 1s ease-in-out;
  }
  .content img:hover{
    transform: scale(1.015);
    /* rotate(30deg) xoay vongf */
    /* filter: blur(1px); làm mờ */
  }
  #main-menu{
      padding: 0 0 50px 20px;
      position: absolute;
      top: 30px;
      left: 550px;
  }
  #main-menu li{
    padding-left: 30px;
  }
  .inner-header .logo{
     display: flex;
     text-decoration: none;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 1.5rem;
     letter-spacing: 2px;
     padding: 28px 0 0 80px;
     width: 200px;
  }
  .banner{
    background: url(img/banner.jpg);
    min-height: 610px;
    width: 100%;
    margin-top: 80px;
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px;
    width: 100%;
    height: 80px;
    background-color: #C1B4B4;
    border-bottom: 1px solid black; 
  }
  .giohang-taikhoan{
      display: flex ;
  }
  .giohang-taikhoan a{
    color: black;
  }
  .header{
    position: relative;
  }
  .giohang-taikhoan{
    position: absolute;
    top: 25px;
    right: 100px;
  }
  .line-icon{
    height: 30px;
    width: 1px;
    background-color: black;
    margin: 0 20px;
  }
  .giohang-taikhoan .icon{
      font-size: 30px;
  }
  .inner-header a{
    color: black;
  }
  .ql-dm{
      display: flex;
      justify-content: center;
  }
  .ql-dm .danhmuc a{
    text-decoration: none;
    color: black
  }
  .ql-dm .danhmuc{
    padding: 50px 30px;
  }
  .ql-dm .danhmuc a:hover{
    color: rgb(65, 185, 175);
  }
  